################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataObjects/DataObjects/bin/Debug/net5.0
/DataObjects/DataObjects/obj
/DataObjects/.vs/DataObjects/v16
